### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper-downloader.java
.log

### Eclipse ###
.project
.classpath
.settings/
bin/

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Environment / Config ###
*.env
application-*.yml
application-*.properties
